.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
}

.video__add-comments{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.video__comment-form{
  display: contents;
}

.video__comment-form textarea{
  margin-top: 20px;
  width: 100%;
  height: 30px;
  border-bottom: 2px solid whitesmoke;
  border-top: none;
  border-left: none;
  border-right: none;
  color:white;
  background-color: $bg;
  outline: none;
  overflow: hidden;
}

.video__comment-form textarea:hover{
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.deleteBtn{
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.btnPoint{
  margin-top: 20px;
  width: 7%;
  height: 5vh;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: skyblue;
  cursor: pointer;
}


.edit__Video, .delete__Video{
  width: fit-content;
}
