include mixins/messages.pug

doctype html

html(lang="ko")
  head
      title #{pageTitle} | #{siteName}
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css")
      link(rel="stylesheet", href="/static/css/style.css")
  body
      if messages.error
        +messages ("error", messages.error)
      if messages.info 
        +messages ("info", messages.info)
      if messages.success 
        +messages ("sucess", messages.success)
      include partials/header
      main 
        block content
      include partials/footer.pug
  script(src="/static/js/main.js")
  block scripts