extends base.pug

block content
  video(src="/" + video.fileUrl, controls, width="700") 
  div
    p=video.description
    small=video.createdAT
  a(href=`${video.id}/edit`) Edit Video &rarr;
  br
  a(href=`${video.id}/delete`) Delete Video &rarr;